<html>
<head>
	<title>Test chip read</title>
</head>
<script>

server="/api/";
blocksize=102400

function read(chip)
{
	// Grab chip details from API
	var xhttp = new XMLHttpRequest();
	var offset=0;
	var data="";
	var baseurl = server + "read/";

	var percent=document.getElementById("percent");
	percent.innerText="0%";
	urls=[];

	while (offset < chip.capacity)
	{
		var end=blocksize;
		if ((offset + end) > chip.capacity)
		{
			end=chip.capacity % end;
		}

		var url=baseurl + offset + "/" + (offset+end)
		urls.push(url);
		offset+=end;
	}
	//  Now use JS async shiteness
	var curpercent=0;
	var percentincrease=100/urls.length;
	var promises = urls.map(url => fetch(url).then(y => {
		curpercent+=percentincrease;
		percent.value=Math.floor(curpercent);
		return y.blob()
	}));
	Promise.all(promises).then(results => {
		percent.value=100;
		chip.readdata=new Blob(results, {type: "application/octet-stream"});
		updatethings(chip);
	});
}

function updatethings(chip)
{
	var statusline=document.getElementById("statusline");
	if (chip.manufacturer)
	{
		statusline.innerText="Chip manufacturer: " + chip.manufacturer;
	}
	var results=document.getElementById("results");
        if (chip.readdata)
	{
		a = document.createElement("a");
		a.href = window.URL.createObjectURL(chip.readdata);
		a.download = "data.bin";
		results.appendChild(a);
		a.click();
		a.remove();
	}
}

function readit()
{
	statusline=document.getElementById("statusline");
	statusline.innerText="Identifying Chip";
	// Grab chip details from API
	var xhttp = new XMLHttpRequest();
	var url = server + "identify";
	fetch(url).then(function(response)
	{
		return response.json();
	}).then(function(chip)
	{
		updatethings(chip);
		read(chip);
	});
}	

</script>
<body>
<h1>SPI Chip Reader</h1>
<div id="status">
	<p id="statusline"></p>
	<progress id="percent" max="80" value="0"></progress>
</div>
<div id="results" style="display:hidden"></div>
<p></p>
<input type="Button" value="Read It" onclick="readit()" />
</body>
</html>
	
